  button {
    background-color: rgb(46, 164, 79);
    border: none;
    border-radius: 8px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    vertical-align: top;
  }

  button:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  }

  button:active {
    background-color: rgb(26, 144, 59);
  }