      p {
        font-family: Roboto;
        margin-top: 0px;
        margin-bottom: 0px;
      }

      .video-title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 5px;
        width: 300px;
        line-height: 24px;
      }

      .i1 {
        font-size: 14px;
        color: #606060;
        margin-bottom: 20px;
      }

      .author {
        font-size: 14px;
        color: #606060;
        margin-bottom: 20px;
      }

      .description {
        font-size: 14px;
        color: #606060;
        margin-bottom: 100px;
        width: 280px;
        line-height: 22px;
      }

      .red-box {
        background-color: rgb(235, 9, 9);
        color: white;
        font-size: 14px;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 50px;
      }

      .shop-link {
        cursor: pointer;
      }

      .shop-link:hover {
        text-decoration: underline;
      }