  button {
    background-color: black;
    border: none;
    color: white;
    font-size: 11px;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    vertical-align: top;
  }

  button:hover {
    opacity: 0.8;
  }

  button:active {
    opacity: 0.5;
  }