  button {
    background-color: rgb(255, 216, 20);
    border: none;
    border-radius: 18px;
    color: black;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    vertical-align: top;
  }

  button:hover {
    background-color: rgb(255, 200, 0);
  }

  button:active {
    background-color: rgb(255, 200, 90);
  }