  .b1 {
    background-color: rgb(10, 102, 194);
    border: none;
    border-radius: 18px;
    align-content: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-right: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    vertical-align: top;
  }

  .b1:hover {
    background-color: rgb(6, 75, 148);
  }

  .b1:active {
    opacity: 0.5;
  }

  .b2 {
    background-color: white;
    border-color: rgb(10, 102, 194);
    border-style: solid;
    border-width: 1px;
    border-radius: 18px;
    font-weight: bold;
    color: rgb(10, 102, 194);
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    vertical-align: top;
  }

  .b2:hover {
    background-color: rgb(200, 224, 248);
    color: rgb(10, 102, 194);
    border-width: 2px;
  }

  .b2:active {
    opacity: 0.5;
  }