  p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-style: Arial;
    width: 400px;
  }

  .site-title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .mention {
    font-size: 14px;
    font-weight: normal;
    color: grey;
  }

  .descp {
    font-size: 14px;
    margin-bottom: 15px;
    line-height: 15px;
  }

  .extra-descp {
    font-size: 14px;
  }

  .mention-min {
    font-size: 14px;
    color: rgb(4, 149, 198);
  }